body{
    background-color: #f0f6f6;
    overflow: hidden;
    height: 100%;
}

#titlebar {
    background-color: #b0e9f3;
    height: 30px;
    position: sticky;
    top:  0;
}

#credits {
    padding-left: 20px;
    padding-top: 2px;
    font-size: 18px;
    height: 20px;
    vertical-align: center;
    text-align: left;
    float: left;
}

#version {
    text-align: right;
    padding-right: 20px;
    padding-top: 3px;
    font-size: 18px;
    height: 20px;
    vertical-align: center;
    float: right;
}

#gamescreen {
    display: block;
    height: 90%;
    width: 75vw;
    margin: 0 auto;
}

.normal-text {
    text-align: left;
}

#choices {
    vertical-align: center;
}

.choices-start {
    position: relative;
    float: left;
    left:30vw;
    padding: 0;
}

.choices-items-start {
    padding-bottom: 10px;
    position: relative;
}

.left-choice {
    padding-right: 1%;
}

.right-choice {
    padding-left: 1%;
}

#picture {
    display: table-cell;
    float:right;
    height: 27vh;
}

#emptypicture {
    display: table-cell;
    float:left;
    height: 100vh;
    padding-left: 25%
}

#textsp {
    overflow-y: auto;
    max-height: calc(100% - 115px);
    float: left;
    width: 60vw;
}


#stats-bar {
    width:100%;
    padding-right: 10px;
    padding-bottom: 15px;
    border-spacing:0;
}

.stats-cells {
    text-align: center;
    background-color: #b0e9f3;
}

.stats-cells-yellow {
    text-align: center;
    background-color: #b0e9f3;
    width:12.5%;
}

.stats-cells-white {
    text-align: center;
    background-color: #f0f6f6;
    width:12.5%;
}

#statsp {
    position: sticky;
    vertical-align: bottom;
    bottom: 20px;
    background-color: #f0f6f6;
}

#objsp {
    padding-left: 15px;
}

.title {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding-right: 10%;
}

#test {
    height: 30%;
    width: 40%;
    background: #b0c6c6;
    opacity: 15%;
}

#backpack {
    position: absolute;
    height: 5%;
    bottom: 15%;
    left: 5%;
}

#backpack:hover {
    transform: scale(1.5);
}

#backpackitems{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#backpackcontent{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#closebackpack {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#closebackpack:hover,
#closebackpack:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


